@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Global Styles */
* {
  font-family: "Georgia Ref Regular", Georgia;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px 5%;
  background: #F5F5F5;
}
a{
  text-decoration: none;
}
    a.gien:link {
    color: white;
}
    a.gien:visited {
    color: white;
}
    a.gien:hover {
    color: white;
}
    a.gien:active {
    color: white;
}
/* Container Styles */
.container {
  display: flex;
  height: 89vh;
}
.main-wrapper{
  flex: 2;
  overflow-y: scroll;
  .emphasized { font-style: italic; }
}
.side-bar{
  background: #323030;
  flex: .1;
  padding: 40px;
}
.side-bar ul{
  padding: 0 40px;
  list-style: none;
}
.side-bar{
  background: #323030;
  h2 {
    color: white;
  }
}
@media only screen and (max-width: 100px) {
  .container {
    flex-direction: column;
  }
  .side-bar{
    background: #114;
    color: #0E416B !important;
  }
  .side-bar a{
    color: #0E416B !important;
  }
}
/* Navigation Menu Styles */
nav.nav-menu {
    width: 100%;
    background-color: #323030;
    padding: 10px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #323030;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  font-weight: bold;
}
/* Main Content Wrapper Styles */
.main-wrapper {
  background: white;
  padding: 40px;
}
section {
  margin-bottom: 20px;
}
section.head,
section.youtube-embed {
  text-align: center;
}
.button-link {
  display: block;
  margin: 20px 0 0 0;
  padding: 10px 50px;
  width: fit-content;
  background: #30B1D1;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(252, 251, 251);
  font-weight: bold;
  transition: 0.3s transform ease-in-out;
}
.button-link1 {
    display: block;
    margin: 2px 0 0 0;
    padding: 2px 8px;
    width: fit-content;
    background: none;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #30B1D1;
    transition: 0.3s transform ease-in-out;
  }
.button-link:hover {
  transform: scale(1.05);
  background-color: #30B1D1;
}
.button-link1:hover {
    transform: scale(1.05);
    background-color: white;
    border: 1px solid white;
    color: #30B1D1;
  }
h1 {
  font-size: 34px;
}
h2 {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}
h3 {
   font-size: 22px;
}
ul{
  padding-left: 30px;
  text-align: justify;
}
  .side ul{
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.5rem;
    font-family: "Cormorant SC", sans-serif;
    font-size:30px;
  }
ol{
    padding-left: 30px;
    text-align: justify;
}
    .side ol{
      text-align: justify;
      margin-bottom: 10px;
      line-height: 1.5rem;
      font-family: "Cormorant SC", sans-serif;
      font-size:30px;
    }
p {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 1.5rem;
}
img {
  max-width: 100%;
  float: left;
  border: 0px solid white;
  border-radius: 0px;
  margin: 0px;
}
img.gien {
    max-width: 100%;
    float: left;
    border: 0px solid white;
    border-radius: 0px;
    margin: 0px;
}
.hero-gien {
    background-image: linear-gradient(rgba(71, 71, 71, 0.5), rgba(77, 77, 77, 0.5)), url("#");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-0%, 0%);
    color: rgb(12, 9, 9);
    font-weight: bold;
    font-size: 20px;
}
.two-col {
  display: flex;
  justify-content: space-between;
  gap: 0px;
}
.two-col div {
  width: 100%;
}
@media only screen and (max-width: 900px) {
  body {
    padding: 0;
  }
  .two-col {
    flex-direction: column;
  }
  .two-col div {
    width: 100%;
  }
  .main-wrapper {
    padding: 5%;
  }
}